[Service]
WorkingDirectory=/
ExecStart=bash -c "/home/artur/bin/evremap remap /home/artur/dotfiles/evremap/dell.toml -d 0"
Restart=always

[Install]
WantedBy=multi-user.target

