$bg: #000000;
$bg-dark: #222724;
$bg-light: #414b45;
$fg: #f0dedf;
// $active: #8FBCBB;
$active: #899f93;
$primary: $active;
$unactive: #d7c1c3;
$surface: $bg;
$surfaceContainer: $bg-light;
$primaryContainer: $bg-dark;
$secondaryContainer: $bg-light;
$surfaceContainerHigh: $bg;
$surfaceContainerHighest: $bg-light;
$onSurfaceVariant: $primary;
$onSurface: $fg;
$shadow: $bg-light;
$darkmode: true;
$error: red;

@import "./mixins/hover.scss";
@import "./mixins/lib.scss";
@import "./mixins/window.scss";
@import "./modules/launcher/launcher.scss";
@import "./modules/control_center/control_center.scss";

* {
  all: unset;
}

.bar {
  padding: 0.4rem 0.6rem;
  background-color: $bg;
  color: $fg;

  .cc-button {
    @include hover($bg);
    padding: 0.2rem 0.5rem;
    margin-left: 0.2rem;
    border-radius: 1rem;
  }
}

.cc {
  padding: 1rem 0.4rem;
  background-color: $bg;
  color: $fg;
}

.middle-separator {
  background-color: gray;
  padding: 0 0.03rem;
}

.volume-slider trough {
  min-width: 100px;
  background-color: gray;
  min-height: 0.3rem;
  border-radius: 1rem;

  highlight {
    background-color: $active;
  }

  slider {
    background-color: $fg;
    min-height: 20px;
    min-width: 20px;
    margin: -8px;
    border-radius: 1rem;
  }
}

.workspace {
  border-radius: 0.4rem;
  padding: 0 0.5rem;
  transition: 0.3s;
}

.workspace:hover {
  background-color: lighten($bg, 10%);
}

.workspace.active {
  background-color: $active;
  color: $bg;
}

.tray-item {
  all: unset;
}

.clock {
  font-size: 1.1rem;
}

popover.menu {
  contents {
    background-color: $bg;
    padding: 0.35rem;
    border-radius: 1rem;
    modelbutton {
      transition: 0.3s;
      border-radius: 0.5rem;
      padding: 0.25rem 1rem;
    }
    modelbutton:hover {
      background-color: mix($bg, $unactive, 80%);
    }
    separator {
      background-color: mix($bg, $unactive, 90%);
      min-height: 0.1rem;
      margin: 0.5rem 0;
    }

    label:disabled {
      color: $unactive;
    }

    arrow {
      opacity: 0.3;

      &:hover {
        background: none;
      }

      &.left {
        -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
      }

      &.right {
        -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
      }
    }
  }
}
